<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-bg-dark px-4 py-4">
    <div class="row align-items-start px-4 py-4">
        <div class="col">
            <div class="card" style="width: 18rem; height: 80vh;"></div>
        </div>
        <nav class="col navigation flex-column">
            {{range .}} <a class="nav-link" href="/{{.}}">{{.}}</a> {{end}}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const nav = document.querySelector('.navigation')
            const card = document.querySelector('.card')

            function createList(info) { 
                    let ulEl = document.createElement('ul');
                    ulEl.classList.add("list-group", "list-group-flush");

                    Object.values(info).forEach(item => {
                        if (item instanceof Object) {
                            card.append(ulEl)
                            createList(item)
                        } else {
                            if (item) {
                                let liEl = document.createElement('li');
                                liEl.textContent = item;
                                liEl.classList.add("list-group-item");
                                ulEl.append(liEl)
                            }
                        }
                    })
                    card.append(ulEl)
            }    

            nav.addEventListener('click', async(e) => {
                e.stopPropagation()
                e.preventDefault()
                let response = await fetch(`http://localhost:3003/order/${e.target.textContent.trim()}/`)
                let data = await response.json(); 
                if (data) {
                    card.replaceChildren();
                    createList(data)
                }
            })

            let arr = "{{.}}"
           
            const refreshKeys = setInterval(async() => {
                let response = await fetch(`http://localhost:3003/keys/`)
                let data = await response.json();
                if (data && arr.length !== data.length) {
                    arr = data;
                    nav.replaceChildren();

                    data.forEach(key => {
                        let link = document.createElement('a');
                        link.textContent = key;
                        link.classList.add("nav-link");
                        link.setAttribute("href", `/${key}`);
                        nav.append(link)
                    })
                }
            }, 1000);
        });
    </script>
</body>
</html>
